<a href="https://colab.research.google.com/github/Blaise46/github_lesson/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Creating a list

In [3]:
mylist=[1,2,3,4,5]

In [4]:
mylist_1=[]
#add some values to the list

In [6]:
print(mylist_1)

[]

## Indexing and slicing a list

In [7]:
c=[1,3,5,2,4,0,10,15,20,22,4,7,8]

In [9]:
#first element in the list:
c[0]

1

In [10]:
#change the fourth element to 3
c[3] = 3

In [16]:
#print only the first 3 elements of the list
for i in range(0, 3):
  print(c[i], end=" ")

1 3 5

Stepping

In [17]:
c

[1, 3, 5, 3, 4, 0, 10, 15, 20, 22, 4, 7, 8]

Get every second element from the list!

In [20]:
c[::2]

[1, 5, 4, 10, 20, 4, 8]

Get the elements from the 1st index until the 4th index!

In [21]:
print(c[1:4])

[3, 5, 3]


Get the elements from the 1st index until the 10th index, but only every second element!

In [22]:
print(c[1:10:2])

[3, 3, 0, 15, 22]

Reverse the list!

In [25]:
c.reverse()

In [26]:
print(c)

[8, 7, 4, 22, 20, 15, 10, 0, 4, 3, 5, 3, 1]

Get the 3rd element from behind!

In [27]:
c[-3]

5

## Length of a list

How do you check the length of the list?

In [28]:
len(c)

13

## Iterating through a list

Print all elements of c with a for loop!

In [29]:
for i in c:
  print(i, end=" ")

8 7 4 22 20 15 10 0 4 3 5 3 1

### Write an algorithm to decide whether a list (let's see list "c") is monotonically increasing!

In [33]:
for i in range(1, len(c)-1):
  if c[i+1] > c[i]:
    print(True)
  else:
    print(False)

False
True
False
False
False
False
True
False
True
False
False

## Lists containing strings

In [34]:
fruits=['apple', 'banana', 'coconut', 'strawberry', 'apricot', 'pear']

Print all elements!

In [36]:
for i in fruits:
  print(i, end=" ")

apple banana coconut strawberry apricot pear

## If-else statements

Print the names of the fruits that have an 'e' in their names!

In [37]:
for i in fruits:
  if i.find('e') != -1:
    print(i, end=" ")

apple strawberry pear

Remove the elements from the list "c" that are even numbers!

In [43]:
odd_numbers = []

for number in c:
    if number%2 != 0:
        odd_numbers.append(number)

c = odd_numbers
print(c)  # Output: [1, 3, 5]

[7, 15, 3, 5, 3, 1]

In [38]:
#check the list whether it was succesful

## Other built-in list-operations

In [44]:
#create a random list b
import random
b=[]
for i in range(10):
  b.append(random.randint(0,10))
c.extend(b) #extends c with another list

In [45]:
c #check whether the extension was succesful
print(c)

[7, 15, 3, 5, 3, 1, 9, 5, 1, 3, 3, 2, 10, 5, 3, 3]

In [46]:
#how many 4s are in the list? ( list.count() )

count = 0
for i in c:
  if i == 4:
    count += 1
print(count)

0

In [52]:
#the FIRST appearance of the value 0   (   list.index()  )
for i in c:
  if i == 3:
    print(c.index(i))
    break

2

In [54]:
#insert number 3 to the 4th index in the list  ( list.insert(WHERE, WHAT) )
c.insert(4, 3)
#check the list
print(c)

[7, 15, 3, 5, 3, 3, 3, 1, 9, 5, 1, 3, 3, 2, 10, 5, 3, 3]

In [56]:
#remove the element on the LAST index
c.pop(-1)
print(c)

[7, 15, 3, 5, 3, 3, 3, 1, 9, 5, 1, 3, 3, 2, 10, 5]

In [58]:
#remove the element on the 3rd index
c.pop(2)
print(c)

[7, 15, 3, 3, 3, 1, 9, 5, 1, 3, 3, 2, 10, 5]

# List comprehension:
## A shorter syntax when you want to create a new list based on the values of an existing list

In [ ]:
#if I wanted to get the half of each element in a list, I could do for example:
newlist=[] #store the new values in a new list
for i in range (len(c)):
  newlist.append(c[i]/2)

print(newlist)

In [ ]:
#or
newlist1=[]
for number in c:
  newlist1.append(number/2)

print(newlist1)

With list comprehension:


[(***what to return***)   **for** *element*   **in**   *name of the list* ]


[(what do i do with the *element*) **for** *element* **in** *name of the list*]

In [ ]:
[element/2 for element in c] #take the half of every element

#only prints the new list, if I want to create a new list: mylist=[element/2 for element in c]

In [ ]:
new=[element/2 for element in c]

In [ ]:
[number*2 for number in c] #I can call it anything just like in the for loops

In [ ]:
#create a list from letters:
mylist_2= [letter for letter in 'thisisasentence']
mylist_2

['t', 'h', 'i', 's', 'i', 's', 'a', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

We can even add "if" statements

In [ ]:
[element for element in c if element%2==0] #get the elements in the list "c", if the element is an even number

In [ ]:
[fruit for fruit in fruits if 'o' in fruit] #get the elements in the list "fruits" if the element contains the letter 'o'

Create a list based on list "c", keep the numbers that are divisible by 3!

In [60]:
div = [number for number in c if number%3 == 0]
print(div)

[15, 3, 3, 3, 9, 3, 3]

Create a list based on the list "c", take the second power of every number

In [62]:
pow = [number*number for number in c]
print(pow)

[49, 225, 9, 9, 9, 1, 81, 25, 1, 9, 9, 4, 100, 25]

## *range(x:y)* is an iterable object (that we use in for loops as well)
## iterable object: it can be iterated over, with the help of e.g. a for loop

In [ ]:
range(0,10)

range(0, 10)

In [ ]:
type(range(0,10))

range

In [ ]:
range(0,10)[5]

5

In [ ]:
for element in (range(0,10)): # iterate over the range(0,10)
  print(element)

0
1
2
3
4
5
6
7
8
9

Get a list of the numbers from 0 to 10

In [ ]:
[x for x in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

zip(): iterate through multiple lists paralelly!

In [ ]:
letters=[letter for letter in 'abcdefgh']
numbers=[0,1,2,3,4,5,6,7]
for letter,number in zip(letters,numbers):
  print(letter, number)

a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7

Create a list of the letters of this string: 'this is not a long sentence'


Create another list containing numbers from 1 to the length of the sentence


Iterate through the two lists at the same time and print each letter and which place it is on in the sentence.


E.g.: 1 t, 2 h, 3 i ...

In [67]:
text = [letter for letter in 'thisisasentence']
l = len(text)
numbers = [number for number in range(0, l)]
for letter,number in zip(text,numbers):
  print(letter, number)

t 0
h 1
i 2
s 3
i 4
s 5
a 6
s 7
e 8
n 9
t 10
e 11
n 12
c 13
e 14

##Write the content of a chosen list (that you created previously in this lesson) in a txt file!

In [ ]:
#Recommended way to do it:

In [ ]:
!touch abc.txt

In [ ]:
#  if you open a file, pay attention to close it as well!
# with this syntax "with open...." it closes the file automatically

In [ ]:
with open ('abc.txt', 'w') as f: # 'w' : write
  f.write('hi!')

In [ ]:
with open ('abc.txt', 'w') as f:
  f.write('hello!') #pay attention! in this case it overwrites the content of the file

In [ ]:
#instead:
with open('abc.txt', 'a') as f: #   'a' = append
  f.write('hey!')

In [ ]:
with open('abc.txt', 'a') as f:
  f.write('\nhey!')   #pay attention to create a new line! "\n"

Upload the file to your GitHub repo, and upload it to your GitHub-mate's repo!